<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- begin::Head -->
<head>
    <title>
        Регистрация - Футбол
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic" rel="stylesheet">
    <link href="../public/css/style.bundle.css" th:href="@{/css/style.bundle.css}" rel="stylesheet" type="text/css"/>
    <link href="../public/css/vendors.bundle.css" th:href="@{/css/vendors.bundle.css}" rel="stylesheet"
          type="text/css"/>
    <link href="../public/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet"
          type="text/css"/>
</head>
<!-- end::Head -->

<body class="login m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signup m-login--2 m-login-2--skin-2"
         id="m_login" th:style="'background-image: url('+@{/img/bg-3.jpg}+');'">
        <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
            <div class="m-login__container">
                <div class="m-login__logo">
                    <a href="#">
                        <img src="../public/img/logo-big.jpg" th:src="@{/img/logo-big.png}" width="150" height="150"/>
                    </a>
                </div>
                <div class="m-login__signup">
                    <div th:if="${errors}" th:each="error :${errors}" class="m-alert m-alert--icon alert alert-danger"
                         role="alert">
                        <div class="m-alert__icon">
                            <i class="la la-warning"></i>
                        </div>
                        <div class="m-alert__text">
                            <strong th:text="${error}"></strong>
                        </div>
                        <div class="m-alert__close">
                            <button type="button" class="close" data-close="alert" aria-label="Hide">
                            </button>
                        </div>
                    </div>
                    <div class="m-login__head">
                        <h3 class="m-login__title">
                            Регистрация
                        </h3>
                        <div class="m-login__desc">
                            Введите информацию о своем аккаунте:
                        </div>
                    </div>

                    <form class="m-login__form m-form" th:action="@{/registration}" method="post"
                          th:object="${appUser}">
                        <div class="form-group m-form__group">
                            <input class="form-control m-input" th:field="*{name}" type="text" placeholder="Имя"
                                   name="name">
                        </div>
                        <div class="form-group m-form__group">
                            <input class="form-control m-input" th:field="*{surname}" th:type="text"
                                   placeholder="Фамилия" name="surname">
                        </div>
                        <div class="form-group m-form__group">
                            <input class="form-control m-input" th:field="*{patronymic}" th:type="text"
                                   placeholder="Отчество" name="patronymic">
                        </div>
                        <div class="form-group m-form__group">
                            <input class="form-control m-input" th:field="*{email}" th:type="text" placeholder="Email"
                                   name="email">
                        </div>
                        <div class="form-group m-form__group">
                            <input class="form-control m-input" th:field="*{phone}" th:type="text" placeholder="Телефон"
                                   name="phone">
                        </div>
                        <div class="form-group m-form__group">
                            <input class="form-control m-input" th:field="*{birthday}" type="date"
                                   placeholder="Дата рождения" name="birthday">
                        </div>
                        <div class="form-group m-form__group">
                            <select class="form-control" id="position" name="position" th:field="*{userRole}">
                                <option value="">
                                    Выберите роль
                                </option>
                                <option th:text="Менеджер" th:value="MANAGER"
                                        th:selected="${#strings.equals(appUser.userRole, 'Менеджер')}?'selected':''">
                                </option>
                                <option th:text="Организатор" th:value="ORGANIZER"
                                        th:selected="${#strings.equals(appUser.userRole, 'Организатор')}?'selected':''">
                                </option>
                                <option th:text="Игрок" th:value="PLAYER"
                                        th:selected="${#strings.equals(appUser.userRole, 'Игрок')}?'selected':''">
                                </option>
                            </select>
                        </div>
                        <div class="form-group m-form__group">
                            <input class="form-control m-input" id="regPass" th:field="*{password}" type="password"
                                   placeholder="Пароль" name="password">
                        </div>
                        <div class="form-group m-form__group">
                            <input class="form-control m-input m-login__form-input--last" type="password"
                                   placeholder="Повторите пароль" name="rpassword">
                        </div>

                        <div class="m-login__form-action">
                            <!--                            <input class="btn btn-focus m-btn m-btn&#45;&#45;pill m-btn&#45;&#45;custom" type="submit"-->
                            <!--                                   value="Зарегистрироваться">-->
                            <button id="m_login_signup_submit"
                                    class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                                Зарегистрироваться
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:: Page -->

<!--begin::Base Scripts -->
<script src="../public/js/vendors.bundle.js" th:src="@{/js/vendors.bundle.js}" type="text/javascript"></script>
<script src="../public/js/scripts.bundle.js" th:src="@{/js/scripts.bundle.js}" type="text/javascript"></script>
<!--end::Base Scripts -->


<script src="../public/js/register.js" th:src="@{/js/register.js}" type="text/javascript"></script>

</body>
<!-- end::Body -->

</html>
