<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- begin::Head -->
<head>
    <!--<meta charset="utf-8" />-->
    <title>
        Вход - Футбол
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!--<meta name="description" content="Latest updates and statistic charts"/>-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic" rel="stylesheet">
    <link href="../public/css/style.bundle.css" th:href="@{/css/style.bundle.css}" rel="stylesheet" type="text/css"/>
    <link href="../public/css/vendors.bundle.css" th:href="@{/css/vendors.bundle.css}" rel="stylesheet"
          type="text/css"/>
    <link href="../public/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet"
          type="text/css"/>
    <!--begin::Web font -->
    <!--end::Web font -->
    <!--<link rel="shortcut icon" href="../../../assets/demo/default/media/img/logo/favicon.ico" />-->
</head>
<!-- end::Head -->
<!-- end::Body -->
<body class="login m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2"
         id="m_login">
        <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
            <div class="m-login__container">
                <div class="m-login__logo">
                    <a href="#">
                        <img src="../public/img/logo-big.jpg" th:src="@{/img/logo-big.png}"/>
                    </a>
                </div>
                <div class="m-login__reset-password">
                    <div class="m-login__head">
                        <h3 class="m-login__title">
                            Сброс пароля
                        </h3>
                        <div class="m-login__desc">
                            Введите новый пароль:
                        </div>
                    </div>
                    <form class="m-login__form m-form" th:action="@{/reset/}" method="post">
                        <div class="form-group m-form__group">
                            <input class="form-control m-input" type="password" placeholder="Пароль" name="password" id="m_password" autocomplete="off"/>
                            <input class="form-control m-input" type="hidden" name="token" th:value="${token}"/>
                        </div>
                        <div class="m-login__form-action">
                            <button id="m_login_reset_password_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--info">
                                Отправить
                            </button>
                            &nbsp;&nbsp;
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:: Page -->
<!--begin::Base Scripts -->
<script src="../public/js/vendors.bundle.js" th:src="@{/js/vendors.bundle.js}" type="text/javascript"></script>
<script src="../public/js/scripts.bundle.js" th:src="@{/js/scripts.bundle.js}" type="text/javascript"></script>
<!--begin::Page Resources -->
<!--end::Base Scripts -->
<!--begin::Page Snippets -->
<script src="../public/js/login.js" th:src="@{/js/login.js}"  type="text/javascript"></script>
<!--end::Page Snippets -->
</body>
<!-- end::Body -->
</html>
