<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<!-- BEGIN: Left Aside -->

<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark " th:fragment="left_aside">
    <!-- BEGIN: Aside Menu -->
    <div
            id="m_ver_menu"
            class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark "
            data-menu-vertical="true"
            data-menu-scrollable="false" data-menu-dropdown-timeout="500"
    >
        <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
            <li class="m-menu__item" aria-haspopup="true"
                th:classappend="${#httpServletRequest.requestURI.equals('/')} ? 'm-menu__item--active' : ''">
                <a th:href="@{/}" class="m-menu__link ">
                    <i class="m-menu__link-icon flaticon-line-graph"></i>
                    <span class="m-menu__link-title">
										<span class="m-menu__link-wrap">
											<span class="m-menu__link-text">
												Главная
											</span>
										</span>
									</span>
                </a>
            </li>
            <li class="m-menu__section">
                <h4 class="m-menu__section-text">
                    Меню
                </h4>
                <i class="m-menu__section-icon flaticon-more-v3"></i>
            </li>
            <li sec:authorize="hasAuthority('ADMIN_ACTIVE')" class="m-menu__item  m-menu__item--submenu "
                aria-haspopup="true" data-menu-submenu-toggle="hover"
                th:attrappend="class=${T(com.football.football_app.helper.UrlHelper).isContained(#httpServletRequest.requestURI) ? 'm-menu__item--open' : ''}"
                th:attrprepend="class=${T(com.football.football_app.helper.UrlHelper).isContained(#httpServletRequest.requestURI) ? 'm-menu__item--expanded ' : ''}">
                <a href="#" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-share"></i>
                    <span class="m-menu__link-text">
										Справочники
									</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu ">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
											<span class="m-menu__link">
												<span class="m-menu__link-text">
													Справочники
												</span>
											</span>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true"
                            th:classappend="${#httpServletRequest.requestURI.equals('/stadiums')} ? 'm-menu__item--active' : ''">
                            <a th:href="@{/stadiums}" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                    <span></span>
                                </i>
                                <span class="m-menu__link-text">
													Стадионы
												</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover"
                th:classappend="${#httpServletRequest.requestURI.equals('/users')} ? 'm-menu__item--active' : ''">
                <a sec:authorize="hasAuthority('ADMIN_ACTIVE')" th:href="@{/users}"
                   class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-user"></i>
                    <span class="m-menu__link-text">
                                    Пользователи
                                </span>
                </a>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover"
                th:classappend="${#httpServletRequest.requestURI.equals('/leagues')} ? 'm-menu__item--active' : ''">
                <a sec:authorize="hasAuthority('ADMIN_ACTIVE')" th:href="@{/leagues}"
                   class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-diagram"></i>
                    <span class="m-menu__link-text">
                                    Лиги
                                </span>
                </a>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover"
                th:classappend="${#httpServletRequest.requestURI.equals('/teams')} ? 'm-menu__item--active' : ''">
                <a sec:authorize="hasAnyAuthority('ADMIN_ACTIVE', 'MANAGER_ACTIVE')" th:href="@{/teams}"
                   class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-users"></i>
                    <span class="m-menu__link-text">
                                    Команды
                                </span>
                </a>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover"
                th:classappend="${#httpServletRequest.requestURI.equals('/tournaments')} ? 'm-menu__item--active' : ''">
                <a sec:authorize="hasAnyAuthority('ADMIN_ACTIVE', 'ORGANIZER_ACTIVE')" th:href="@{/tournaments}"
                   class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-calendar"></i>
                    <span class="m-menu__link-text">
                                    Турниры
                                </span>
                </a>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover"
                th:classappend="${#httpServletRequest.requestURI.equals('/allteams')} ? 'm-menu__item--active' : ''">
                <a sec:authorize="hasAuthority('PLAYER_ACTIVE')" th:href="@{/allteams}"
                   class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-users"></i>
                    <span class="m-menu__link-text">
                                    Команды
                                </span>
                </a>
            </li>
        </ul>
    </div>
    <!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->
</body>
</html>