<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"></head>

<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
<div class="m-grid m-grid--hor m-grid--root m-page">
    <header th:replace="fragments/header :: header"></header>

    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
        <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
            <i class="la la-close"></i>
        </button>
        <div th:replace="fragments/left_aside :: left_aside"></div>
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <div class="m-content">
                <div th:if="${errors}" th:each="error :${errors}" class="m-alert m-alert--icon alert alert-danger"
                     role="alert">
                    <div class="m-alert__icon">
                        <i class="la la-warning"></i>
                    </div>
                    <div class="m-alert__text">
                        <strong th:text="${error}"></strong>
                    </div>
                    <div class="m-alert__close">
                        <button type="button" class="close" data-close="alert" aria-label="Hide">
                        </button>
                    </div>
                </div>
                <div class="m-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Создать пользователя
                                </h3>
                            </div>
                        </div>
                    </div>
                    <!--begin::Form-->
                    <form class="m-form m-form--fit m-form--label-align-right" id="m_form_1" method="post"
                          th:action="@{'/users/save'}" th:object="${user}">
                        <div class="m-portlet__body">
                            <div class="m-form__content">
                                <div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert"
                                     id="m_form_1_msg">
                                    <div class="m-alert__icon">
                                        <i class="la la-warning"></i>
                                    </div>
                                    <div class="m-alert__text">
                                        Не все поля заполнены или введенные данные содержат ошибки!
                                    </div>
                                    <div class="m-alert__close">
                                        <button type="button" class="close" data-close="alert"
                                                aria-label="Close"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    Фамилия *
                                </label>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <input type="text" class="form-control m-input" name="surname"
                                           placeholder="Введите фамилию" th:field="*{surname}"/>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    Имя *
                                </label>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <input type="hidden" th:field="*{id}">
                                    <input type="text" class="form-control m-input" name="name"
                                           placeholder="Введите имя" th:field="*{name}"/>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    Отчество *
                                </label>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <input type="text" class="form-control m-input" name="lastname"
                                           placeholder="Введите отчество" th:field="*{patronymic}"/>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    Дата рождения *
                                </label>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <input type="date" class="form-control m-input" name="birthday"
                                           placeholder="Введите фамилию" th:field="*{birthday}"/>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    Почта *
                                </label>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <input type="text" class="form-control m-input" name="lastname"
                                           placeholder="Введите отчество" th:field="*{email}"/>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    Телефон *
                                </label>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <input type="text" class="form-control m-input" name="phone"
                                           placeholder="Телефон" th:field="*{phone}"/>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label for="position" class="col-form-label col-lg-3 col-sm-12">
                                    Должность *
                                </label>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <select class="form-control" id="position" name="position" th:field="*{userRole}">
                                        <option value="">
                                            Выберите роль
                                        </option>
                                        <option th:text="Администратор" th:value="ADMIN"
                                                th:selected="${#strings.equals(user.userRole, 'Администратор')}?'selected':''">
                                        </option>
                                        <option th:text="Менеджер" th:value="MANAGER"
                                                th:selected="${#strings.equals(user.userRole, 'Менеджер')}?'selected':''">
                                        </option>
                                        <option th:text="Организатор" th:value="ORGANIZER"
                                                th:selected="${#strings.equals(user.userRole, 'Организатор')}?'selected':''">
                                        </option>
                                        <option th:text="Игрок" th:value="PLAYER"
                                                th:selected="${#strings.equals(user.userRole, 'Игрок')}?'selected':''">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions m-form__actions">
                                <div class="row">
                                    <div class="col-lg-9 ml-lg-auto">
                                        <input type="submit" value="Создать" class="btn btn-info m-btn"/>
                                        <a class="btn btn-secondary m-btn m-btn" th:href="@{'/users/'}">Отмена</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Portlet-->
            </div>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
</div>

<!--<footer th:replace="layout :: site-footer" />-->
<script src="/../../public/js/vendors.bundle.js" th:src="@{/js/vendors.bundle.js}" type="text/javascript"></script>
<script src="/../../public/js/scripts.bundle.js" th:src="@{/js/scripts.bundle.js}" type="text/javascript"></script>
<!--begin::Page Resources -->
<script src="/../../public/js/forms/users-form.js" th:src="@{/js/forms/users-form.js}" type="text/javascript"></script>
<!--end::Page Resources -->
</body>
</html>