<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head::head"></head>

<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
<div class="m-grid m-grid--hor m-grid--root m-page">
    <header th:replace="fragments/header :: header"></header>

    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
        <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
            <i class="la la-close"></i>
        </button>
        <div th:replace="fragments/left_aside :: left_aside"></div>
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <div class="m-content">
                <div class="m-content">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4">
                            <div class="m-portlet m-portlet--full-height  ">
                                <div class="m-portlet__body">
                                    <div class="m-card-profile">
                                        <div class="m-card-profile__title m--hide">
                                            Your Profile
                                        </div>
                                        <div class="m-card-profile__pic">
                                            <div class="m-card-profile__pic-wrapper">
                                                <img src="/../../public/img/avatar.jpg" th:src="@{/img/avatar.jpg}"
                                                     alt=""/>
                                            </div>
                                        </div>
                                        <div class="m-card-profile__details">
												<span class="m-card-profile__name" th:text="*{user.name}">
													Mark Andre
												</span>
                                            <span class="m-card-profile__name" th:text="*{user.surname}">
													Mark Andre
												</span>
                                            <span class="m-card-profile__name m--regular-font-size-lg1"
                                                  th:text="*{user.userRole.name()}">
													Mark Andre
												</span>
                                            <span sec:authorize="hasAuthority('PLAYER_ACTIVE')" class="m-card-profile__name m--regular-font-size-lg1"
                                                  th:if="${!user.teamPlayers.isEmpty()}" th:text="${'Игрок команды '+ user.teamList}">
													Mark Andre
												</span>
                                            <a href="#" class="m-card-profile__email m-link" th:text="*{user.email}">
                                                mark.andre@gmail.com
                                            </a>
                                            <span sec:authorize="hasAuthority('ADMIN_ACTIVE')"></span>
                                        </div>
                                    </div>
                                    <div class="m-portlet__body-separator"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-8">
                            <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-tools">
                                        <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary"
                                            role="tablist">
                                            <li class="nav-item m-tabs__item">
                                                <a class="nav-link m-tabs__link active" data-toggle="tab"
                                                   href="#m_user_profile_tab_1" role="tab">
                                                    <i class="flaticon-share m--hide"></i>
                                                    Данные профиля
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="m_user_profile_tab_1">
                                        <form class="m-form m-form--fit m-form--label-align-right" method="post"
                                              th:action="@{'change-status/'+${user.id}}"
                                              th:object="${user}">
                                            <div class="m-portlet__body">
                                                <div class="form-group m-form__group m--margin-top-10 m--hide">
                                                    <div class="alert m-alert m-alert--default" role="alert">
                                                        The example form below demonstrates common HTML form elements
                                                        that receive updated styles from Bootstrap with additional
                                                        classes.
                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group row">
                                                    <div class="col-10 ml-auto">
                                                        <h3 class="m-form__section">
                                                            Данные профиля
                                                        </h3>
                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group row">
                                                    <label for="name" class="col-2 col-form-label">
                                                        Статус
                                                    </label>
                                                    <div class="col-7">
                                                        <input id="status" class="form-control m-input"
                                                               name="status" th:field="*{status.value}" type="text"
                                                               readonly/>
                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group row">
                                                    <label for="name" class="col-2 col-form-label">
                                                        Имя
                                                    </label>
                                                    <div class="col-7">
                                                        <input id="name" class="form-control m-input"
                                                               name="name" th:field="*{name}" type="text" readonly/>
                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group row">
                                                    <label for="surname" class="col-2 col-form-label">
                                                        Фамилия
                                                    </label>
                                                    <div class="col-7">
                                                        <input id="surname" class="form-control m-input"
                                                               name="surname" th:field="*{surname}" type="text"
                                                               readonly/>
                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group row">
                                                    <label for="patronymic" class="col-2 col-form-label">
                                                        Отчество
                                                    </label>
                                                    <div class="col-7">
                                                        <input id="patronymic" class="form-control m-input"
                                                               name="patronymic" th:field="*{patronymic}" type="text"
                                                               readonly/>
                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group row">
                                                    <label for="birthday" class="col-2 col-form-label">
                                                        Дата рождения
                                                    </label>
                                                    <div class="col-7">
                                                        <input id="birthday" class="form-control m-input"
                                                               name="birthday" th:field="*{birthday}" type="date"
                                                               readonly/>
                                                    </div>
                                                </div>
                                                <div class="form-group m-form__group row">
                                                    <label for="phone" class="col-2 col-form-label">
                                                        Телефон
                                                    </label>
                                                    <div class="col-7">
                                                        <input id="phone" class="form-control m-input"
                                                               name="phone" th:field="*{phone}" type="text" readonly/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div th:if="${user.status.equals(T(com.football.football_app.model.RegistrationStatus).NOT_VIEWED)}" class="m-portlet__foot m-portlet__foot--fit"
                                                 sec:authorize="hasAuthority('ADMIN_ACTIVE')">
                                                <div class="m-form__actions">
                                                    <div class="row">
                                                        <div class="col-2"></div>
                                                        <div class="col-7">
                                                            <input type="submit" value="Подтвердить" name="confirm"
                                                                   class="btn btn-info m-btn"
                                                                   sec:authorize="hasAuthority('ADMIN_ACTIVE')"/>
                                                            <input type="submit" value="Отклонить" name="reject"
                                                                   class="btn btn-danger m-btn"
                                                                   sec:authorize="hasAuthority('ADMIN_ACTIVE')"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                        <form sec:authorize="hasAnyAuthority('MANAGER_NOT_VIEWED', 'ORGANIZER_NOT_VIEWED', 'PLAYER_NOT_VIEWED')"
                                              class="m-form m-form--fit m-form--label-align-right" method="post"
                                              th:action="@{'/remind'}"
                                        >
                                            <div class="m-portlet__foot m-portlet__foot--fit">
                                                <div class="m-form__actions">
                                                    <div class="row">
                                                        <div class="col-2"></div>
                                                        <div class="col-7">
                                                            <input type="submit"
                                                                   value="Запросить повторное рассмотрение регистрации"
                                                                   class="btn btn-info m-btn"
                                                                   sec:authorize="hasAnyAuthority('MANAGER_NOT_VIEWED', 'ORGANIZER_NOT_VIEWED', 'PLAYER_NOT_VIEWED')"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                    </div>

                                    <!--<div class="tab-pane active" id="m_user_profile_tab_2">-->
                                    <!---->
                                    <!--</div>-->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
</div>
<!--<footer th:replace="layout :: site-footer" />-->
<script src="/../../public/js/vendors.bundle.js" th:src="@{/js/vendors.bundle.js}" type="text/javascript"></script>
<script src="/../../public/js/scripts.bundle.js" th:src="@{/js/scripts.bundle.js}" type="text/javascript"></script>
</body>
</html>