<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/head::head"></head>

<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
<div class="m-grid m-grid--hor m-grid--root m-page">
    <header th:replace="fragments/header :: header"></header>

    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
        <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
            <i class="la la-close"></i>
        </button>
        <div th:replace="fragments/left_aside :: left_aside"></div>
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <div class="m-content">
                <div  class="m-alert m-alert--icon alert alert-info" role="alert">
                    <div class="m-alert__icon">
                        <i class="la la-warning"></i>
                    </div>
                    <div class="m-alert__text">
                        <strong>Нет сообытий для отображения</strong>
                    </div>
                    <div class="m-alert__close">
                        <button type="button" class="close" data-close="alert" aria-label="Hide">
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4">
                        <div class="m-portlet m-portlet--mobile">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Название стадиона
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                <!--begin: Datatable -->
                           <div th:object="${user}">
                               <p th:text="*{name}"></p>
                               <p th:text="*{email}"></p>
                               <p th:text="*{phone}"></p>
                           </div>

                                <!--begin: MsgForm -->
                                <div class="m_datatable" id="local_data"></div>

                                <div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">
                                                    Сообщение
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">
												&times;
											</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="message-form" method="post">
                                                    <div class="form-group">
                                                        <label for="message-text" class="form-control-label">
                                                            Текст:
                                                        </label>
                                                        <textarea class="form-control" id="message-text" rows="8" name="text" th:required="required"></textarea>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Закрыть
                                                </button>
                                                <button id="submit-form" type="button" class="btn btn-primary">
                                                    Создать
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end: MsgForm -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
</div>

<script src="/../../public/js/vendors.bundle.js" th:src="@{/js/vendors.bundle.js}" type="text/javascript"></script>
<script src="/../../public/js/scripts.bundle.js" th:src="@{/js/scripts.bundle.js}" type="text/javascript"></script>
<!--<script sec:authorize="hasAuthority('Менеджер')" src="/../../public/js/datatables/html-table.js"-->
        <!--th:src="@{/js/datatables/html-table.js}" type="text/javascript"></script>-->
</body>
</html>