<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- begin::Head -->
<head>
    <title>
        Регистрация - Футбол
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic" rel="stylesheet">
    <link href="../public/css/style.bundle.css" th:href="@{/css/style.bundle.css}" rel="stylesheet" type="text/css"/>
    <link href="../public/css/vendors.bundle.css" th:href="@{/css/vendors.bundle.css}" rel="stylesheet"
          type="text/css"/>
    <link href="../public/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet"
          type="text/css"/>
</head>
<!-- end::Head -->

<body class="login m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2"
         id="m_login" th:style="'background-image: url('+@{/img/bg-3.jpg}+');'">
        <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
            <div class="m-login__container">
                <div class="m-login__logo">
                    <a href="#">
                        <img src="../public/img/logo-big.jpg" th:src="@{/img/logo-big.png}"  width="150" height="150"/>
                    </a>
                </div>
                <div th:if="${successMsg != null}"  class="m-alert m-alert--icon alert alert-success"
                     role="alert">
                    <div class="m-alert__icon">
                        <i class="la la-warning"></i>
                    </div>
                    <div class="m-alert__text">
                        <strong th:text="${successMsg}"></strong>
                    </div>
                    <div class="m-alert__close">
                        <button type="button" class="close" data-close="alert" aria-label="Hide">
                        </button>
                    </div>
                </div>
                <div class="m-login__signin">

                    <form class="m-login__form m-form" th:action="@{/login}" method="post">
                        <div class="form-group m-form__group">
                            <input class="form-control m-input" type="text" id="username" placeholder="Email"
                                   name="username" autocomplete="off"/>
                        </div>
                        <div class="form-group m-form__group">
                            <input class="form-control m-input m-login__form-input--last" id="password" type="password"
                                   placeholder="Пароль" name="password"/>
                        </div>
<!--                        <div class="row m-login__form-sub">-->
<!--                            <div class="col m&#45;&#45;align-right m-login__form-right">-->
<!--                                <a href="javascript:;" id="m_login_forget_password" class="m-link">-->
<!--                                    Забыл пароль?-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="m-login__form-action">
                            <button id="m_login_signin_submit"
                                    class="btn m-btn m-btn--pill m-btn--custom m-login__btn m-login__btn--primary login-btn">
                                Войти
                            </button>
                        </div>
                    </form>
                </div>
                <div class="m-stack__item m-stack__item--center">
                    <div class="m-login__account">
								<span class="m-login__account-msg">
									Еще нет аккаунта?
								</span>
                        &nbsp;&nbsp;
                        <a th:href="@{/registration}" id="m_login_signup"
                           class="m-link m-link--focus m-login__account-link">
                            Зарегистрируйтесь
                        </a>
                    </div>
                </div>
                <div class="m-login__forget-password">
                    <div class="m-login__head">
                        <h3 class="m-login__title">
                            Восстановление пароля
                        </h3>
                        <div class="m-login__desc">
                            Введите свой email для восстановления пароля:
                        </div>
                    </div>
                    <form class="m-login__form m-form" th:action="@{/forgot/}" method="post">
                        <div class="form-group m-form__group">
                            <input class="form-control m-input" type="text" placeholder="Email" name="email"
                                   id="m_email" autocomplete="off"/>
                        </div>
                        <div class="m-login__form-action">
                            <button id="m_login_forget_password_submit"
                                    class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--info">
                                Отправить
                            </button>
                            &nbsp;&nbsp;
                            <button id="m_login_forget_password_cancel"
                                    class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom m-login__btn">
                                Отмена
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:: Page -->

<!--begin::Base Scripts -->
<script src="../public/js/vendors.bundle.js" th:src="@{/js/vendors.bundle.js}" type="text/javascript"></script>
<script src="../public/js/scripts.bundle.js" th:src="@{/js/scripts.bundle.js}" type="text/javascript"></script>
<!--end::Base Scripts -->

<!--begin::Page Snippets -->
<script src="../public/js/login.js" th:src="@{/js/login.js}" type="text/javascript"></script>
<!--end::Page Snippets -->

</body>
<!-- end::Body -->

</html>
