<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<div>
    <p th:text="${text}">Text</p>
    <a th:href="${url}" th:text="${url}"></a>
</div>
<p>С уважением, команда Футбол.</p>
</body>
</html>