<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<div>
    <p th:header="${header}">header</p>
    <p>Ваш логин: <span th:text="${login}">login</span></p>
    <p>Ваш пароль: <span th:text="${password}">password</span></p>
</div>
<div>
    <p th:text="${text}">Text</p>
    <a th:href="${url}" th:text="${url}"></a>
</div>
<p>С уважением, команда Футбол.</p>
</body>
</html>