<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"></head>

<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
<div class="m-grid m-grid--hor m-grid--root m-page">
    <header th:replace="fragments/header :: header"></header>

    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
        <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
            <i class="la la-close"></i>
        </button>
        <div th:replace="fragments/left_aside :: left_aside"></div>
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <div class="m-subheader ">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                            <li class="m-nav__item">
                                <a th:href="@{'/'}" class="m-nav__link">
                                    	<span class="m-nav__link-text">
												Главная
											</span>
                                </a>
                            </li>
                            <li class="m-nav__separator">
                                -
                            </li>
                            <li class="m-nav__item">
                                <a th:href="@{'/leagues'}" class="m-nav__link">
											<span class="m-nav__link-text">
												Лиги
											</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="m-content">
                <div class="m-portlet m-portlet--mobile">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Лиги
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <!--begin: Search Form -->
                        <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                            <div class="row align-items-center">
                                <div class="col-xl-8 order-2 order-xl-1">
                                    <div class="form-group m-form__group row align-items-center">
                                        <div class="col-md-4">
                                            <div class="m-input-icon m-input-icon--left">
                                                <input type="text" class="form-control m-input m-input"
                                                       placeholder="Найти..." id="generalSearch"/>
                                                <span class="m-input-icon__icon m-input-icon__icon--left">
															<span>
																<i class="la la-search"></i>
															</span>
														</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                                    <a th:href="@{/leagues/create}"
                                       class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
												<span>
													<i class="la la-user-plus"></i>
													<span>
														Добавить лигу
													</span>
												</span>
                                    </a>
                                    <div class="m-separator m-separator--dashed d-xl-none"></div>
                                </div>
                            </div>
                        </div>
                        <!--end: Search Form -->
                        <!--begin: Datatable -->
                        <table class="m-datatable" id="html_table" width="100%">
                            <thead>
                            <tr>
                                <th title="Field #1">
                                    Название
                                </th>
                                <th title="Field #5">
                                    Действия
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="el: ${leagues}">
                                <td th:text="${el.name}"></td>
                                <td>
                                    <a th:href="@{'/leagues/'+${el.id}+'/edit'}"
                                       class="m-portlet__nav-link btn m-btn m-btn--hover-success m-btn--icon m-btn--icon-only m-btn--pill"
                                       title="Редактировать"><i class="la la-edit"></i></a>

                                    <!--                                    <a th:href="@{'/users/'+${user.id}}"-->
                                    <!--                                       class="m-portlet__nav-link btn m-btn m-btn&#45;&#45;hover-primary m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill"-->
                                    <!--                                       title="Просмотр профиля"><i class="la la-eye"></i></a>-->
                                    <!--<a href="#" th:attr="data-href=@{'/users/'+${user.id}+'/delete'}"-->
                                    <!--class="m_sweetalert m-portlet__nav-link btn m-btn m-btn&#45;&#45;hover-danger m-btn&#45;&#45;icon m-btn&#45;&#45;icon-only m-btn&#45;&#45;pill"-->
                                    <!--title="Удалить"><i class="la la-trash"></i></a>-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!--end: Datatable -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
</div>

<!--<footer th:replace="layout :: site-footer" />-->
<script src="/../../public/js/vendors.bundle.js" th:src="@{/js/vendors.bundle.js}" type="text/javascript"></script>
<script src="/../../public/js/scripts.bundle.js" th:src="@{/js/scripts.bundle.js}" type="text/javascript"></script>
<!--begin::Page Resources -->
<script src="/../../public/js/datatables/html-table.js" th:src="@{/js/datatables/html-table.js}"
        type="text/javascript"></script>
<!--end::Page Resources -->
</body>
</html>